*{
    margin: 0px;
    padding: 0px;
}
html,body{
scrollbar-width: none;
}
header{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #0b7a60;
    z-index: 55;
    top: 0px;
    left: 0%;
}
header >center{
   padding: 1% ;
}header center>h2{
 color: #fff;

}
.center{
  position: absolute;
  top: 56px;
  width: 100%;


}






/* 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */
/* ver al hacer clic en ver la img del producto */
.produc-View {
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100vw;
  max-width: 100vw;
  height: 100%;     /* Altura mínima consistente */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0px;
  z-index: 1000;
  left: 0%;
    display:none ;
   border-radius: none;
   

}
.produc-View article img {
  width: 100%;
  height: 100%;
    max-height: calc(100vh - 220px );
    min-height: calc(100vh - 220px );
  align-content: center;
  object-fit:contain;
  border-radius: none;
  background-color: #fff;
  
}
.cont-div-padre-view-infor{
    width: 100%;
    height:100%;
    margin-bottom: 1px;
    overflow: hidden;
    overflow: auto;
    margin-top: -3.6px;
}
#text_view{
    font-size: 1.5rem;
    color: #096851;
    text-align: center;
}
.descripcion-view{
font-size: 0.9rem;
text-align: center;
padding: 0px 5px;
overflow: hidden;
overflow: auto;
margin-bottom: 50px;
padding-bottom: 50px;

}
.cont-precio-view{
    display: flex;
    margin: 0px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: white;

    
}
.cont-precio-view>p{
    color: gray;
    height: 25px;
   font-size: 0.7rem;
   font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       align-content: center;

}
.cont-precio-view>h2{
    font-size: 1.2rem;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    height: 25px;
    align-content: center;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b7a60;


}
.cont-precio-view>h3{
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    height: 25px;
    align-content: center;
    font-size: 0.6rem;
    color: gray;
    text-decoration: line-through;
    font-family: Arial, Helvetica, sans-serif;
}
/* Ajuste de texto y precios */
/* ===== BOTÓN DE AGREGAR AL CARRITO ===== */
#cerrar{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1%;
  right: 2%;
  border-radius: 6px;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  color: #363535ed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
#cerrar:active{
  background-color: #111;
}
#cerrar:hover{
  background-color: #111;
}
.button-basio{
  display: none;
}
/* 222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 */
.main  center >input{
    width: 30%;
    z-index: 55;
    margin-top: 10px;
    padding: 10px 10px;
    border: 1px solid grey;
    border-radius: 030px;
    color: gray;
    font-weight: 500;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fff;

}
.main header center>h2{
  font-size: 1.2rem
  
}
/* componet de la derecha  add a carrito */

main{
  
}
#container-add-mail-cont-dad{
  width: 200px;
   height: calc(100% - 165px);
    background-color: #0b7a60;
    z-index: 100;
      position: fixed;
      right: 0%;
      top: 90px;
      overflow: hidden;
      overflow: auto;
      text-align: center;    
       scrollbar-width: 1px;
       display:none ;  
       
     
}
#cont-total-button-enviar{
  position: fixed;
  bottom: 0px;
  width: 200px;
  background-color: black;
  height: 75px;

}
#cont-total-button-enviar #viewTotal{
  color: #fff;
  font-size: 0.9rem;
  height: 30px;
  align-content: center;
  text-align: left;
  padding-left: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 300;
}
#cont-total-button-enviar #enviar_pro{
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  background:linear-gradient(rgb(25, 112, 76) ,#000);
  border: none;
  
  color: #fff;
  text-shadow:  2px 2px 30px #000;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 2px;
}
#cont-total-button-enviar #enviar_pro:active{
  background:linear-gradient(black);
  color: #0b7a60;
}
#container-add-mail-cont-dad>button{
  padding: 5px 10px;
    position:sticky ;
    bottom: 0%;
    /* position:sticky; */
    color: white;
    border: none;
   background-color: darkorange;
   width: 100%;
   font-weight: 600;
   font-size: 1rem;

}
/* ----- Contenedor principal ----- */

.productos-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 por fila en móviles */
  gap: 1px;
  padding: 4px;
  margin-top: 90px;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  align-items: center;
  text-align: center;


}

/* diseño de los contenedores de las img */

/* ----- Cada producto padre (cada tarjeta) ----- */

.component-producto-padre {
  border-radius: 2px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.224);
  padding: 1px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  /* max-height: 250px; */
  height: 260px;
  overflow: none;
  overflow: none;
    scrollbar-width: none;
    margin: 2.5px;
    position: relative;
    background-color: white;
    overflow: hidden;

}
.component-producto-padre:hover{
  opacity: 0.8;
}
.component-producto-padre:active{
  opacity: 0.8;
}
 .cont-img{
  width: 100%;
  background-color:white;
  height: 150px;
  position: absolute;
  overflow: hidden;
 }
 .cont-img img{
   width: 100%;
  height: 100%;
  align-content: center;
  object-fit:contain;
 }
 .text-h1 {
  font-size: 1.2rem;
  margin: 10px 0 6px 0;
  color: #0b7a60;
    text-align: left;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  position: absolute;
  text-align: center;
  top: 153px;
  height: 25px;
  width: 95%;
  padding: 0px 5px;
}
.descripcion {
  font-size: 0.9rem;
  color: #181818;
  overflow: hidden;
  position: absolute;
  top: 190px;
  padding: 0px 4px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
 text-wrap: nowrap;
 width: 95%;
 height: 20px;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;

}
.cont-precios{
    position: absolute;
    width: 100%;
    padding: 0px 5px;
    top: 207px;
    max-height: 27px;
    display: flex;
    justify-content: center;
  

}
.rd{
    color: gray;
    height: 25px;
   font-size: 0.7rem;
   font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       align-content: center;

}
.precio-actual{
    font-size: 1rem;
    text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
 text-wrap: nowrap;
 font-weight: bold;
 height: 20px;
 align-content: center;
 margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
 color: #0b7a60;


}
.precio-anterior{
    text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
 text-wrap: nowrap;
 height: 25px;
 align-content: center;
 font-size: 0.6rem;
 color: gray;
 text-decoration: line-through;
    font-family: Arial, Helvetica, sans-serif;
}
 .button{
  background: #0b7a60;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  bottom: 2px;
  position: absolute;
  height: 30px;
 align-content: center;
  width:100%;
  

 }
 .button:hover {
  background: #096851;
}
/* #select{
  font-size: 1rem;
  width: 50%;
  position: absolute;
  right: 2px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px gray;
  bottom:2px;
  color: rgb(55, 55, 55);

} */

.ocultal{
  display: none;
}
@media (min-width:200px) {
   .productos-section {
    grid-template-columns: repeat(1, 1fr);

  }
  .main  center >input{
    width: 65%;
  
  }




}
@media (min-width:300px) {
   .productos-section{
    grid-template-columns: repeat(2, 1fr);

  }
  .main  center >input{
    width: 65%;
  
  }




}
@media (min-width:400px) {
.productos-section{
    grid-template-columns: repeat(2, 1fr);

  }
   .main  center >input{
    width: 65%;
  
  }



}
/* ----- Cuando sea tablet ----- */
@media (min-width: 600px) {
.productos-section{
    grid-template-columns: repeat(3, 1fr);
  }
 .main  center >input{
    width: 55%;
  
  }

}

/* ----- Cuando sea laptop ----- */
@media (min-width: 900px) {
.productos-section{
    grid-template-columns: repeat(5, 1fr);
  }
   .main  center >input{
    width: 350px;
  
  }

}

/* ----- Cuando sea PC mediano ----- */
@media (min-width: 1100px) {
  .productos-section{

    grid-template-columns: repeat(6, 1fr);
  }
     .main  center >input{
    width: 350px;
  
     }

}

/* ----- 🖥️ PC grande → 5 productos por fila ----- */
@media (min-width: 1300px) {
  .productos-section{

    grid-template-columns: repeat(7, 1fr);
  }
   .main  center >input{
    width: 350px;
  
     }

}
/* ----- 🖥️ PC grande → 5 productos por fila ----- */
@media (min-width: 2000px) {
  .productos-section{

    grid-template-columns: repeat(8, 1fr);
  }
   .main  center >input{
    width: 350px;
  
     }

}

@media (min-width: 2200px) {
  .productos-section{

    grid-template-columns: repeat(9, 1fr);
  }
   .main  center >input{
    width: 350px;
  
     }

}
#logo{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 1%;
    object-fit: cover;
  object-position: center;
}
.cerrarPerfil{
  background-color: white;
  position: absolute;
  right: 4%;
   width: 40px;
  height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  color: #363535ed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
#perfil{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0%;
  z-index: 55;
  left: 0px;
  color: white;
  display: block;
  padding: 5px;
  display: none;
}
#perfil center >img{
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;

}
#perfil center >h2{
  color:#fff;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px 5px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;

}
#perfil> footer{
  margin: 20px;
  overflow: hidden;
  overflow: auto;
  height: 100%;
  padding-bottom: 20px;
  
}
#perfil>.cont-view-img{
  background-color:#111;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  position: fixed;
  justify-content: center;
  align-content: center;
  display: none;

}
.cont-view-img >.atras{
  background-color:#000;
  width: 40px;
  height: 40px;
  position: absolute;
  object-position: center;
  top: 2%;
  left: 2%;

}
hr{
  margin: 20px 0px;
}
#perfil .cont-view-img center >.imview{
  width: 100%;
  height: 100%;
  max-width: 500px;
  border-radius: 0px;
  object-position: center;
  object-fit: cover;
}
#perfil{
  display: none;
}
#perfil footer ul>li{
  margin: 25px 0px;
   text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  
}


#mensaje-no{
  z-index: 88;
  color:#096851;
  display: none;
}.final{
  background-color: #096851;
  height: calc(100vh);
  color: lavender;
  padding: 20px ;
  
}

.final p{
  margin: 20px 0px;
  font-size: 1.2rem;
  
}
ol{
  margin-left: 10px;
}
.final nav ul> li{
margin:20px 0px ;
font-size: 1.2rem;

}

.final nav ul li>a{

  color:lavender;
}